<% @title = "Dinner - Entries - Important Dates" %>

<p id="notice"><%= notice %></p>

<div class="row">
<div class="span3">
  <p><b><%= @entry.event %></b></p>
  <p><%= @entry.description %></p>

<p>
  <%= link_to "Edit Entry", edit_entry_path(@entry) %> |
  <%= link_to "Delete Entry", entry_path(@entry),
     :method => :delete,
     :confirm => "Are you sure you want to delete this entry?" %>
  <%= link_to 'Back', entries_path %>
</p>
</div>
</div>
